.grid-container {
    margin-bottom: 20px;
}

.grid-item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#left-buttons {
    flex: 1;
    text-align: left;
}

#right-buttons {
    flex: 1;
    text-align: right;
}

#new-words{
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 400px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.custom-words-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 15px;
}

.delete-word-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

.delete-word-button:hover {
    background-color: #d32f2f;
}

@media (prefers-color-scheme: dark) {
    .grid-item {
        background: var(--container-bg);
    }

    .delete-button {
        background-color: var(--error-color);
    }

    .delete-button:hover {
        background-color: #d32f2f;
    }

    #new-words, #word-category {
        background-color: var(--container-bg);
        color: var(--text-color);
        border-color: var(--input-border);
    }

    .delete-word-button {
        background-color: var(--error-color);
    }
}
